{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(clientForm) }}
        {{ form_widget(clientForm) }}

        <button type="submit">Create Client</button>
    {{ form_end(clientForm) }}
{% endblock %}